<div class="container">
  <div class="card profile-card">
    <div class="profile-header text-center">
      <img
        src="assets/images/monkey d luffy.jpg"
        alt="Profile Picture"
        class="profile-pic"
      />
      <h3 class="mt-3">Monkey D. Luffy</h3>
      <p>Pirate King</p>
    </div>
    <div class="card-body">
      <ul
        class="nav nav-tabs justify-content-center mb-4"
        id="profileTabs"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="about-tab"
            data-bs-toggle="tab"
            data-bs-target="#about"
            type="button"
            role="tab"
          >
            About
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="settings-tab"
            data-bs-toggle="tab"
            data-bs-target="#settings"
            type="button"
            role="tab"
          >
            Settings
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="activity-tab"
            data-bs-toggle="tab"
            data-bs-target="#activity"
            type="button"
            role="tab"
          >
            Activity
          </button>
        </li>
      </ul>
      <div class="tab-content" id="profileTabsContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel">
          <h5>About</h5>
          <p>
            Monkey D. Luffy, also known as "Straw Hat Luffy," is the captain of
            the Straw Hat Pirates and the main protagonist of the One Piece
            series. Born in Foosha Village, he dreams of becoming the Pirate
            King by finding the legendary treasure, One Piece. Luffy is known
            for his cheerful and carefree personality, unshakable determination,
            and deep loyalty to his friends. After eating the Gum-Gum Fruit, he
            gained the ability to stretch his body like rubber, making him a
            formidable fighter with an unconventional combat style. Despite his
            goofy demeanor, Luffy is a courageous leader who inspires those
            around him to follow their dreams.
          </p>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel">
          <h5>Settings</h5>
          <div class="settings-container">
            <div class="form-section">
              <form
                [formGroup]="profileForm"
                class="example-form"
                (ngSubmit)="onSubmit()"
              >
                <div style="display: flex; flex-direction: column">
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      margin-bottom: 1%;
                    "
                  >
                    <div class="full-width">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-label>First Name</mat-label>
                        </div>
                        <div class="col-md-6">
                          <input
                            matInput
                            placeholder="First Name"
                            value="First Name"
                            formControlName="firstName"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-label>Second Name</mat-label>
                        </div>
                        <div class="col-md-6">
                          <input
                            matInput
                            placeholder="Second Name"
                            value="Sushi"
                            formControlName="secondName"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-label>Last Name</mat-label>
                        </div>
                        <div class="col-md-6">
                          <input
                            matInput
                            placeholder="Last Name"
                            value="Sushi"
                            formControlName="lastName"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="display: flex; flex-direction: row">
                    <div class="full-width">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-label>Age</mat-label>
                        </div>
                        <div class="col-md-6">
                          <input
                            matInput
                            placeholder="Age"
                            value="Sushi"
                            formControlName="age"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-label>Date of Birth</mat-label>
                        </div>
                        <div class="col-md-6">
                          <input
                            matInput
                            placeholder="DOB"
                            value="Sushi"
                            formControlName="dob"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="row">
                        <div class="col-md-6"><mat-label>Email</mat-label></div>
                        <div class="col-md-6">
                          <input
                            matInput
                            placeholder="Email"
                            value="Sushi"
                            formControlName="email"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="activity" role="tabpanel">
          <h5>Activity</h5>
          <p>
            Luffy's activities center around his adventures across the Grand
            Line, where he gathers a diverse crew, takes on powerful enemies,
            and liberates oppressed islands. His most notable exploits include
            defeating notorious warlords like Crocodile, Doflamingo, and Kaido,
            as well as declaring war against the World Government to save his
            crew. Luffy frequently finds himself in the middle of chaotic
            battles, forming alliances with other pirate crews and nations. His
            relentless pursuit of freedom and justice drives him to challenge
            the status quo, making him a beacon of hope for many.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
