<mat-toolbar class="tool-bar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>One Piece Dashboard</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    matTooltip="Notifications"
    (click)="onNotificationIconClick()"
    [matMenuTriggerFor]="notificationList"
  >
    <mat-icon matBadge="{{ noOfNotifications }}">notifications</mat-icon>
    <mat-menu #notificationList="matMenu" xPosition="before">
      @for (notification of notifications; track $index) {
      <button mat-menu-item (click)="onNotificationItemClick(notification)">
        {{ notification.message }}
      </button>
      }
    </mat-menu>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="Logout"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
