<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 contact-info">
        <h5>Institute Name</h5>
        <h5>Example Institute of Technology</h5>
      </div>
      <div class="col-md-6 col-lg-3 contact-info">
        <h5>Address</h5>
        <h5>123 Technology Street, Tech City, TX 75001</h5>
      </div>
      <div class="col-md-6 col-lg-3 contact-info">
        <h5>Contact No</h5>
        <h5>+1 (123) 456-7890</h5>
      </div>
      <div class="col-md-6 col-lg-3 contact-info">
        <h5>Fax No</h5>
        <h5>+1 (123) 456-7891</h5>
      </div>
    </div>
    <div class="text-center mt-2 copy-right">
      <p>&copy; 2025 Example Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
