.footer {
    background-color: rgb(17,48,101);
    color: white;
    padding: 20px 0;
}

.footer a {
    color: #17a2b8;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    // font-size: 1.25rem;
    // margin-bottom: 15px;
}

.footer .contact-info p {
    margin: 0;
    line-height: 1.6;
}

@media (max-width: 576px) {
    .footer .contact-info {
        text-align: center;
    }
}